.main-header {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  width: 100%;
}
.main-header .header-top {
  position: relative;
  color: #ffffff;
  background-color: #211832;
  border-bottom: 1px solid #fff;
  /* display:none; */
}
.main-header .header-top .inner-container {
  position: relative;
}
.main-header .header-top .top-left {
  position: relative;
  float: left;
  padding: 5px 0px 10px;
}
.main-header .header-top .top-left .links {
  position: relative;
  float: left;
}
.main-header .header-top .top-left .links li {
  position: relative;
  float: left;
  margin-right: 24px;
  line-height: 1em;
  color: #fff;
}
.main-header .header-top .top-left ul li:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border: 0px;
}
.main-header .header-top .top-left .links li:last-child:after {
  display: none;
}
.main-header .header-top .top-left .links li .icon {
  position: relative;
  top: 0px;
  font-size: 12px;
  padding-right: 6px;
  line-height: 20px;
  color: #fff;
}
.main-header .header-top .top-left .links li a {
  position: relative;
  line-height: 24px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.main-header .header-top .top-right {
  position: relative;
  float: right;
  padding: 2px 0px;
}

/*Social Icons*/

.header-top .social-icon {
  position: relative;
  float: left;
}
.header-top .social-icon li {
  position: relative;
  float: left;
  margin-left: 18px;
}
.header-top .social-icon li a {
  position: relative;
  display: block;
  line-height: 24px;
  margin-top: 5px;
  font-size: 16px;
  color: #ffffff;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.header-style-two .header-top .social-icon li a {
  color: #000000;
}
.header-top .social-icon li a:hover {
  color: #c41919;
}

/*===== 2.2 Navbar Style =====*/

.main-header .main-box {
  position: relative;
  padding: 0px 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #fff;
  border-bottom: 1px solid #dddddd;
}

.main-header .main-box .outer-container {
  position: relative;
}

.main-header .main-box .logo-box {
  position: relative;
  float: left;
  left: 0px;
  z-index: 10;
  padding: 2px 0px;
  background-color: #fff;
}

.main-header .main-box .logo-box .logo img {
  display: inline-block;
  max-width: 100%;
  width: 200px;
  margin-top: 6px;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header .nav-toggler {
  position: relative;
  right: 0px;
  width: 44px;
  height: 46px;
  top: 50%;
  margin-top: 0px;
  display: block;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #dddddd;
}

.main-header .nav-toggler button {
  position: relative;
  left: 12px;
  display: block;
  color: #444444;
  text-align: center;
  font-size: 20px;
  line-height: 44px;
  background: none;
  font-weight: 600;
}

.main-header .nav-outer {
  position: relative;
  float: right;
}

.main-header .nav-outer .options-box {
  position: relative;
  float: left;
  margin-top: 30px;
  display: block;
  margin-left: 35px;
}

.main-header .nav-outer .quote-btn {
  position: relative;
  float: left;
  margin-left: 28px;
  margin-top: -11px;
}

.main-header.header-style-two .nav-outer .options-box {
  margin-top: 50px;
  margin-left: 25px;
}
.main-menu {
  position: relative;
  float: left;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navbar-collapse {
  padding: 0px;
}

.main-menu .navigation {
  position: relative;
  margin: 0px;
}

.main-menu .navigation > li {
  position: relative;
  float: left;
  padding: 0px 0px;
  margin-left: 35px;
}
.main-menu .navigation > li > a {
  position: relative;
  display: block;
  padding: 10px 0px 15px;
  color: #4b4b4b;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Montserrat", sans-serif;
}
.main-menu .navigation > li > a::after {
  background: #211832;
  content: "";
  height: 2px;
  position: absolute;
  bottom: 10px;
  width: 0;
  transition: 0.5s;
  left: 0px;
}
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a {
  color: #211832;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}

.main-menu .navigation > li:hover > a:after,
.main-menu .navigation > li.current > a:after {
  width: 100%;
}

.main-menu .navigation > li > ul {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 250px;
  z-index: 100;
  display: none;
  padding: 0px 0px;
  background: #211832;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation > li > ul.from-right {
  left: auto;
  right: 0px;
}

.main-menu .navigation > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > a {
  position: relative;
  display: block;
  font-family: "Montserrat", sans-serif;
  padding: 10px 25px;
  line-height: 24px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color: #ffffff;
  text-align: left;
  text-transform: capitalize;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a {
  color: #ffffff;
  background-color: #c41919;
}

.main-menu .navigation > li > ul > li.dropdown > a:after {
  font-family: "FontAwesome";
  content: "\f105";
  position: absolute;
  right: 10px;
  top: 11px;
  width: 10px;
  height: 20px;
  display: block;
  line-height: 21px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after {
  color: #ffffff;
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 0px;
  width: 250px;
  z-index: 100;
  display: none;
  background: #009dea;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation > li > ul > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a {
  position: relative;
  display: block;
  padding: 10px 25px;
  line-height: 24px;
  font-weight: 500;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-align: left;
  text-transform: capitalize;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: #ffffff;
  background-color: #000000;
}

.main-menu .navigation > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 0px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 34px;
  height: 30px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.main-header .header-upper {
  position: relative;
  background: #ffffff;
  z-index: 5;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

/* quote-btn*/
.btn-style-one {
  position: relative;
  line-height: 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: #009dea;
  display: inline-block;
  padding: 6px 18px;
  text-transform: uppercase;
  border: 2px solid #009dea;
  font-family: "Montserrat", sans-serif;
}
.btn-style-one:hover {
  color: #009dea;
  border-color: #009dea;
  background: none;
}
.theme-btn {
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/*Sticky Header*/

.sticky-header {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  background: #fff;
  z-index: 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.sticky-header .logo {
  padding: 10px 0px 10px;
}
.sticky-header .logo img {
  width: 200px;
  margin-top: 0px;
}
.fixed-header .sticky-header {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  box-shadow: 0 5px 50px 15px rgb(0 0 0 / 10%);
}

.main-header .sticky-header .right-col .outer-box {
  position: relative !important;
  float: left;
  color: #ffffff;
  margin-top: 24px !important;
  margin-left: 0px;
}

.main-header .sticky-header .search-box-outer .dropdown-menu {
  top: 44px;
}

.main-header .sticky-header .main-menu .navigation > li {
  padding: 0px 0px;
}

.main-header .sticky-header .main-menu .navigation > li > a {
  color: #4b4b4b;
}

.main-header .sticky-header .main-menu .navigation > li > a:hover,
.main-header .sticky-header .main-menu .navigation > li.current > a {
  color: #211832;
}

.main-header .sticky-header .right-col {
  position: relative;
}

@media only screen and (max-width: 1140px) {
  .main-header {
    position: relative;
    margin: 0px !important;
    background-color: rgba(0, 0, 0, 1);
  }
  .main-header .main-box .outer-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .consulting-section .content-column .inner-column {
    padding-left: 0px;
  }
  .header-style-two {
    background-color: #ffffff;
  }
  .main-menu .navigation > li {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .main-header .main-box .logo-box {
    width: 100%;
    padding-bottom: 0px;
  }
  .main-header .nav-outer {
    width: 100%;
  }
  .main-menu .navigation > li {
    margin-left: 0px;
    margin-right: 18px;
    padding: 0px;
  }
  .main-header .btn-outer {
    display: none;
    padding: 12px 0px;
  }
  .main-header.fixed-header .main-box {
    position: relative;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
  }
  .main-header.fixed-header .main-box .logo-box {
    padding: 15px 0px;
  }
  .main-header.fixed-header .main-box .logo-box .logo img {
    height: auto;
  }
  .fixed-header .main-menu .navigation > li > a {
    padding: 20px 0px;
  }
  .main-header .main-box .outer-container {
    padding: 0px;
  }
  .tparrows,
  .main-header .nav-outer .quote-btn {
    display: none;
  }
  .main-header .main-menu .navigation > li > a {
    padding: 15px 0px 25px;
  }
  .main-header .nav-outer .options-box {
    margin-top: 19px;
    margin-left: 10px;
  }
  .main-slider h2,
  .main-slider h2.alternate {
    font-size: 42px;
  }
  .main-slider h1,
  .error-section h2 {
    font-size: 38px;
  }
  .main-header .header-upper .upper-right {
    width: 100%;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 20px;
  }
  .main-header .info-box {
    float: none;
    margin-left: 10px;
    display: inline-block;
    padding-right: 0px;
    margin-right: 10px;
  }
  .main-header .sticky-header .main-menu .navigation > li {
    margin-left: 0px;
    margin-right: 20px;
  }
  .main-header.header-style-two .sticky-header .main-menu .navigation > li {
    margin-left: 0px;
    margin-right: 14px;
  }
  .main-header .sticky-header .right-col {
    width: 100%;
  }
  .error-section h1 {
    font-size: 150px;
  }
  /* .fixed-header .sticky-header{ */
  /* display:none;	 */
  /* } */
  .main-header .nav-outer .outer-box {
    float: right;
    margin-top: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .fixed-header .sticky-header .right-col.pull-right {
    float: none;
  }
  .header-upper .logo-outer {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    margin: 0px;
  }
  .main-header .header-top .top-left,
  .main-header .header-top .top-right,
  .main-header .header-top .top-right .links {
    width: 100%;
    text-align: center;
  }
  .main-slider .mouse-btn-down {
    bottom: 18px;
  }
  .main-header .header-top .top-right .links {
    padding-bottom: 15px;
  }
  .header-top .social-icon {
    float: none;
    margin-left: 0px;
    text-align: center;
    display: inline-block;
  }
  .header-style-three .outer-box {
    display: block;
  }
  .main-header .header-top .top-right .links li {
    float: none;
    display: inline-block;
  }
  .sec-title h2 {
    font-size: 25px;
  }
  .main-menu .collapse {
    max-height: 300px;
    overflow: auto;
    float: none;
    width: 100%;
    padding: 10px 0px 0px;
    border: none;
    margin: 0px 0px 15px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .main-menu .collapse.in,
  .main-menu .collapsing {
    padding: 0px 0px 0px;
    border: none;
    margin: 0px 0px 15px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .main-menu .navbar-header {
    position: relative;
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    padding: 12px 0px;
    right: 0px;
    z-index: 12;
  }
  .main-menu .navbar-header .navbar-toggle {
    display: inline-block;
    z-index: 12;
    border: 1px solid #009dea;
    float: none;
    margin: -2px 0px 0px 0px;
    border-radius: 0px;
    background: #009dea;
  }
  .main-menu .navbar-header .navbar-toggle .icon-bar {
    background: #ffffff;
  }
  .main-menu .navbar-collapse > .navigation {
    float: none !important;
    margin: 0px !important;
    width: 100% !important;
    background: #2c2c2c;
    border: 1px solid #ffffff;
    border-top: none;
  }
  .main-menu .navbar-collapse > .navigation > li {
    margin: 0px !important;
    float: none !important;
    padding: 0px !important;
    width: 100%;
  }
  .main-menu .navigation > li > a,
  .main-menu .navigation > li > ul:before {
    border: none;
  }
  .main-menu .navbar-collapse > .navigation > li > a {
    padding: 10px 10px !important;
    border: none !important;
    font-weight: 500;
  }
  .main-menu .navigation li.dropdown > a:after,
  .main-menu .navigation > li.dropdown > a:before,
  .main-menu .navigation > li > ul > li > a::before,
  .main-menu .navigation > li > ul > li > ul > li > a::before {
    color: #ffffff !important;
    right: 15px;
    font-size: 16px;
    display: none !important;
  }
  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul {
    position: relative;
    border: none;
    float: none;
    visibility: visible;
    opacity: 1;
    display: none;
    margin: 0px;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    padding: 0px;
    outline: none;
    width: 100%;
    background: #2c2c2c;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    -moz-transition: none !important;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul {
  }
  .main-menu .navbar-collapse > .navigation > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li {
    border-top: 1px solid rgba(255, 255, 255, 1) !important;
    border-bottom: none;
    opacity: 1 !important;
    top: 0px !important;
    left: 0px !important;
    visibility: visible !important;
  }
  .main-menu .navbar-collapse > .navigation > li:first-child {
    border: none;
  }
  .main-menu .navbar-collapse > .navigation > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
    padding: 12px 20px 10px !important;
    line-height: 22px;
    color: #ffffff;
    background: #2c2c2c;
    text-align: left;
    font-size: 16px;
  }
  .main-menu .navbar-collapse > .navigation > li > a:hover,
  .main-menu .navbar-collapse > .navigation > li > a:active,
  .main-menu .navbar-collapse > .navigation > li > a:focus {
    background: #009dea;
  }
  .main-menu .navbar-collapse > .navigation > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li.current > a,
  .main-menu .navbar-collapse > .navigation > li.current-menu-item > a {
    background: #2c2c2c;
    color: #ffffff !important;
  }
  .main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn {
    display: block;
  }
  .main-menu .navbar-collapse > .navigation li.dropdown:after,
  .main-menu .navigation > li > ul:before {
    display: none !important;
  }
  .main-slider .big-title {
    font-size: 36px;
  }
  .main-header .nav-outer {
    padding-right: 0px;
    width: 100%;
  }
  .main-header .nav-outer .outer-box {
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    z-index: 12;
    margin-top: 20px;
    margin-left: 0px;
  }
  .main-header.header-style-three .nav-outer .outer-box {
    margin-top: 22px;
  }
  .main-header .nav-outer .outer-box .search-box-outer {
    margin-left: 0px;
  }
  .main-header .nav-outer .search-box-outer .dropdown-menu {
    left: 0px;
    top: 36px;
  }
  .main-slider h2 {
    font-size: 26px;
  }
  .main-header .btn-outer {
    position: relative;
    display: block;
    float: left;
    z-index: 15;
    margin-left: 0px;
    margin-bottom: -58px;
  }
  .main-header .header-top .top-left .links {
    width: 100%;
  }
  .main-header .header-top .top-left .links li {
    float: none;
    display: inline-block;
  }
  .main-header .header-top .top-left .links li:before,
  .main-header .header-top .top-left .links li:after {
    display: none;
  }
  .main-slider .text {
    font-size: 16px;
  }
  .main-header .info-box .icon-box {
    position: relative;
    top: 0px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .header-style-two .outer-box {
    display: block;
    left: 0px;
    right: auto;
  }
  .header-style-two .outer-box,
    /*.fixed-header .sticky-header,*/
    .main-header .header-top .top-left,
    .comming-soon .content .content-inner .text br,
    .main-header .header-upper .upper-right .header-info-list,
    .header-style-two .outer-box .btn-style-eight {
    display: none;
  }
  .header-style-two .nav-outer .search-box-outer .dropdown-menu {
    top: 40px;
  }
  .main-header .main-box .logo-box {
    text-align: center;
  }
  .main-header .main-box .outer-container {
    padding-bottom: 5px;
  }
  .main-header .search-box-btn {
    text-align: left;
    border: 0px;
  }
  .main-slider h2.alternate {
    font-size: 36px;
  }
  .main-menu {
    width: 100%;
    padding-right: 0px !important;
  }
  .main-header .header-top .top-left,
  .main-header .header-top .top-right {
    padding-bottom: 0px;
  }
  .main-header .language {
    margin-top: 0px;
    top: -8px;
  }
  .main-header .header-top .top-left .links li {
    padding-right: 0px;
  }
  .main-header .info-box {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    border: 0px;
  }
  .main-header .info-box {
    text-align: center;
    margin-left: 0px;
  }
  .main-header .nav-outer .options-box {
    position: absolute;
    margin-top: 19px;
    margin-left: 0px;
    z-index: 12;
  }
  .main-header.header-style-two .nav-outer .options-box {
    margin-left: 0px;
  }
  .main-header .nav-outer .options-box .cart-box {
    margin-right: 10px;
  }
  .fixed-header .sticky-header .right-col .main-menu .navbar-toggler {
    position: absolute;
    right: 0px;
    top: -53px;
  }
  .fixed-header .sticky-header .main-menu {
    padding: 0px;
  }
  .main-menu .navbar-header .navbar-toggler,
  .fixed-header .sticky-header .right-col .main-menu .navbar-toggler {
    display: inline-block;
    z-index: 12;
    width: 50px;
    height: 40px;
    float: none;
    padding: 0px;
    text-align: center;
    border-radius: 0px;
    background: none;
    border: 1px solid #ffffff;
  }
  .main-menu .navbar-header .navbar-toggler .icon-bar,
  .fixed-header .sticky-header .right-col .main-menu .navbar-toggler .icon-bar {
    position: relative;
    background: #ffffff;
    height: 2px;
    width: 26px;
    display: block;
    margin: 0 auto;
    margin: 5px 11px;
  }
}
