    /*
    Flaticon icon font: Flaticon
    Creation date: 15/09/2020 08:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-sofa:before { content: "\f100"; }
.flaticon-armchair:before { content: "\f101"; }
.flaticon-hygieia:before { content: "\f102"; }
.flaticon-customer-service:before { content: "\f103"; }
.flaticon-doctor:before { content: "\f104"; }
.flaticon-restroom:before { content: "\f105"; }
.flaticon-hospital-bed:before { content: "\f106"; }
.flaticon-hospital-bed-1:before { content: "\f107"; }
    
    $font-Flaticon-sofa: "\f100";
    $font-Flaticon-armchair: "\f101";
    $font-Flaticon-hygieia: "\f102";
    $font-Flaticon-customer-service: "\f103";
    $font-Flaticon-doctor: "\f104";
    $font-Flaticon-restroom: "\f105";
    $font-Flaticon-hospital-bed: "\f106";
    $font-Flaticon-hospital-bed-1: "\f107";