    /*
    Flaticon icon font: Flaticon
    Creation date: 21/07/2020 13:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-conveyor-2:before { content: "\f100"; }
.flaticon-engineering:before { content: "\f101"; }
.flaticon-refinery:before { content: "\f102"; }
.flaticon-conveyor:before { content: "\f103"; }
.flaticon-conveyor-1:before { content: "\f104"; }
.flaticon-dashboard:before { content: "\f105"; }
.flaticon-industrial-robot:before { content: "\f106"; }
.flaticon-machine-press:before { content: "\f107"; }
.flaticon-machine-press-1:before { content: "\f108"; }
    
    $font-Flaticon-conveyor-2: "\f100";
    $font-Flaticon-engineering: "\f101";
    $font-Flaticon-refinery: "\f102";
    $font-Flaticon-conveyor: "\f103";
    $font-Flaticon-conveyor-1: "\f104";
    $font-Flaticon-dashboard: "\f105";
    $font-Flaticon-industrial-robot: "\f106";
    $font-Flaticon-machine-press: "\f107";
    $font-Flaticon-machine-press-1: "\f108";